h1 {
  text-align: center;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: black;
  padding: 5px;
  width: 80px;
  height: 50px;
  margin-top: 10px;

  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  line-height: 50px;
}

.flex-item .icon {
  height: 50%;
  width: 50%;
}

.icon {
  height: 130px
}

.container{
  font-size: 24px;
  font-weight: 100;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.canvasContainer {
  width:300px;
  margin: auto;
}

#weatherForecastContainer {
  margin-bottom: 20px;
}